@page "/{id:int?}"
@model Chirila_Luisa_Lab9.Pages.Cars.IndexModel

@{
    ViewData["Name"] = "Cars";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].ManufacturingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Manufacture.ManufactureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarCategories)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CarD.Cars){
            string selectedRow = "";
            if (item.ID == Model.CarID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturingDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Manufacture.ManufactureName)
            </td>

            <td>
                @{
                    foreach (var category in item.CarCategories)
                    {
                        @category.Category.ID @: @category.Category.CategoryName <br />
                    }
                }
            </td>


            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
